/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.progress-bar{
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 0;
  background-color: blue;
}
.image-count{
  position: fixed;
  color: rgba(255, 255, 255, 0.4);
  right: 10px;
  top: 5px;
}
.image-count:hover{
  color: rgba(255, 255, 255, 1);
}
.right-arror-container{
  position: fixed;
  right: -3rem;
  width: 6rem;
  height: 6rem;
  top: calc(50vh - 3rem);
  border: 3px solid white;
  background-color: #bbb;
  border-radius: 50%;
  transition: transform 500ms;
  cursor: pointer;
  animation: fade-in-out 5000ms linear 10ms infinite forwards;
  z-index: 7;
}

.right-arror-container:hover{
  transform: scale(1.3);
  transition: transform 500ms;
}

.right-arrow{
  position: relative;
  top: 2rem;
  left: 0.7rem;
  border-top: 2px solid white;
  border-right: 2px solid white;
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(45deg);
}



.left-arrow-container{
  position: fixed;
  top: calc(50vh - 3rem);
  left: -3rem;
  width: 6rem;
  height: 6rem;
  border: 3px solid white;
  background-color: #bbb;
  border-radius: 50%;
  transition: transform 500ms;
  cursor: pointer;
  animation: fade-in-out 5000ms linear 10ms infinite forwards;
  z-index: 7;
}


.left-arrow-container:hover{
  transform: scale(1.3);
  transition: transform 500ms;
}

.left-arrow{
  position: relative;
  top: 2rem;
  left: 03.5rem;
  border-top: 2px solid white;
  border-right: 2px solid white;
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(-135deg);

}

.photo-container{
  position: relative;
  display: flex;
  width: 100%;
  max-height: 100vh;
  justify-content: center;
  z-index: 7;
}
.photoframe{
  margin-top: 0.3vh;
  padding: 1rem;
  overflow: hidden;
  border: 5px solid white;
  width: 100%;
  height: 94.6vh;
  display: flex;
  justify-content: center;
  max-width: 23rem;
}

.restart-button{
  position: fixed;
  bottom: 0.2rem;
  right: 0.5rem;
  border-radius: 15px;
  width: 4.5rem;
  height: 2rem;
  color: rgb(200, 255, 255);
  display: flex;
  justify-content: center;
  border: 3px solid #ccc;
  background: linear-gradient(#aaa, #666);
  z-index: 8;
  cursor: pointer;
}

.pause-button{
  position: fixed;
  bottom: 0.2rem;
  right: 5.5rem;
  border-radius: 15px;
  width: 4.5rem;
  height: 2rem;
  color: rgb(200, 255, 255);
  display: flex;
  justify-content: center;
  border: 3px solid #ccc;
  background: linear-gradient(#aaa, #666);
  z-index: 8;
  cursor: pointer;
}

img{
  max-width: 23rem;
  object-fit: contain;
}
.comment-container{
  position: fixed;
  bottom: 3rem;
  width: 22rem;
  height: auto;
  border: 2px solid rgb(16, 198, 253);
  left: calc(50vw - 22rem / 2);
  z-index: 9;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(227, 235, 253);
}

@keyframes fade-in-out {
  0% {opacity: 0.4;}
  50% {opacity: 1;}
  100% {opacity: 0.4;}
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100vh;
display:block;
}

.stars {
background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
z-index:0;
}

.twinkling{
background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
z-index:1;

-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}

.clouds{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
  z-index:3;

-moz-animation:move-clouds-back 200s linear infinite;
-ms-animation:move-clouds-back 200s linear infinite;
-o-animation:move-clouds-back 200s linear infinite;
-webkit-animation:move-clouds-back 200s linear infinite;
animation:move-clouds-back 200s linear infinite;
}
